{%extends './base.html'%} {% block title %}About Us || Yotech Systems
{%endblock%} {%load static%} {%block content%}
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href={% url 'store:all_products' %}>Home</a></li>
        <li class="active">About Us</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- about wrapper start -->
<div class="about-us-wrapper pt-60 pb-40">
  <div class="container">
    <div class="row">
      <!-- About Text Start -->
      <div class="col-lg-6 order-last order-lg-first">
        <div class="about-text-wrap">
          <h2><span>Provide Best</span>Product For You</h2>
          <p>
            <h4>Vision</h4>
  To be the most trusted partner in information technology products, 
  services and solutions across the African Sub-Region
          </p>
          <p>
            <h4>Mission</h4>
            We strive to lead in the distribution and retailing of the industry’s 
            advanced information technologies, including computer systems, software, software, storage systems and microelectronics.
          </p>
          <p>
            <h4>Values</h4>
            
As a brand persona, Yotech Systems is a market leader in both corporate and retail sections of the I.T industry in Ghana. We, therefore, forge on with the leaders’ mentality 
engraved in our minds. Our values and persona reflect the history and legacy of Yotech Systems  which we desire to imprint on the minds of our customers; Integrity, Customer First and Excellence
          </p>
          <p>
            <h4>Integrity</h4>
We are a company driven by a deep desire to reflect integrity in all our dealings.
 We can be relied on for our ethical business practices and tight commitment to honesty 
 and fairness. You can count on us to be fair, true and sincere as your business partner.
</p>
          <p>
            <h4> Customer First</h4>
We are a customer-driven company. We put the customer ahead of everything else. 
We have an umbilical connection to our customer base. We strive to deliver solutions 
that empower our clients and provide them with a competitive advantage in the marketplace.
</p>
          <p>
            <h4>Our Story</h4>           
As one of the fastest-growing I.T companies in Ghana, Yotech Systems  focuses primarily on the provision of all I.T related products, solutions, home appliances mobile and electronic gadgets. The company has a vigorous corporate team that is tasked to oversee all activities with regards to purchases and after-sales issues related to our corporate and governmental clients.
<br>
<br>As a company, we thrive on our passion for technology, competent human resource and a wide variety of stock carefully chosen to bring delightful satisfaction to our clients. We believe in customer touchpoints are a vital part of the business relationship. In light of this we have virtual customer touchpoints and showrooms strategically positioned within three major regions; Greater Accra, Ashanti Region and Western Region. Our astute professional team of technicians at our service centres ensure after-sales service is guaranteed. This is to ensure that the maximum value is delivered to our clients..
</p>
        </div>
      </div>
      <!-- About Text End -->
      <!-- About Image Start -->
      <div class="col-lg-5 col-md-10">
        <div class="about-image-wrap">
          <img class="img-full" src= {%static "images/about-us/13.jpg" %} alt="
          About Us" />
        </div>
      </div>
      <!-- About Image End -->
    </div>
  </div>
</div>
<!-- about wrapper end -->
<!-- Begin Counterup Area -->
<div class="counterup-area">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-6">
        <!-- Begin Limupa Counter Area -->
        <div class="limupa-counter white-smoke-bg">
          <div class="container">
            <div class="counter-img">
              <img src={%static "images/about-us/icon/1.png"%} alt="" />
            </div>
            <div class="counter-info">
              <div class="counter-number">
                <h3 class="counter">2169</h3>
              </div>
              <div class="counter-text">
                <span>HAPPY CUSTOMERS</span>
              </div>
            </div>
          </div>
        </div>
        <!-- limupa Counter Area End Here -->
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Begin limupa Counter Area -->
        <div class="limupa-counter gray-bg">
          <div class="counter-img">
            <img src={%static "images/about-us/icon/2.png"%} alt="" />
          </div>
          <div class="counter-info">
            <div class="counter-number">
              <h3 class="counter">869</h3>
            </div>
            <div class="counter-text">
              <span>AWARDS WINNED</span>
            </div>
          </div>
        </div>
        <!-- limupa Counter Area End Here -->
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Begin limupa Counter Area -->
        <div class="limupa-counter white-smoke-bg">
          <div class="counter-img">
            <img src={%static "images/about-us/icon/3.png"%} alt="" />
          </div>
          <div class="counter-info">
            <div class="counter-number">
              <h3 class="counter">689</h3>
            </div>
            <div class="counter-text">
              <span>HOURS WORKED</span>
            </div>
          </div>
        </div>
        <!-- limupa Counter Area End Here -->
      </div>
      <div class="col-lg-3 col-md-6">
        <!-- Begin limupa Counter Area -->
        <div class="limupa-counter gray-bg">
          <div class="counter-img">
            <img src={%static "images/about-us/icon/4.png"%} alt="" />
          </div>
          <div class="counter-info">
            <div class="counter-number">
              <h3 class="counter">2169</h3>
            </div>
            <div class="counter-text">
              <span>COMPLETE PROJECTS</span>
            </div>
          </div>
        </div>
        <!-- limupa Counter Area End Here -->
      </div>
    </div>
  </div>
</div>
<!-- Counterup Area End Here -->
<!-- team area wrapper start -->
<div class="team-area pt-60 pt-sm-44">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="li-section-title capitalize mb-25">
          <h2><span>our team</span></h2>
        </div>
      </div>
    </div>
    <!-- section title end -->
    <div class="row">
      {%for team in teams %}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team-member mb-60 mb-sm-30 mb-xs-30">
          <div class="team-thumb">
            <img src="{{team.image.url}}" alt="Our Team Member" />
          </div>
          <div class="team-content text-center">
            <h3>{{team.name}}</h3>
            <p>{{team.role}}</p>
            <a href="#">{{team.email}}</a>
            <div class="team-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
              <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}
      <!-- end single team member -->
    </div>
  </div>
</div>
<!-- team area wrapper end -->
{%endblock%}
